body {
    background-color:#E1FFEE;
    
}
hr {
    background-color: white;
    border-style: dotted none none;
    border-color: grey;
    width: 100px;
   
    
}
h1{
    color: #EC7272;
}
h3{
    color: #EC7272;
}